$green: #62DC9A;
$accent-red: #F7514B;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.button:hover {
  cursor: pointer;
}

.header-bar {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background: white;
  color: $accent-red;
  overflow: hidden;
  border-bottom: 1px solid #ccc;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  i {
    margin: 0 10px;
    font-size: 1.5em;
  }
}


.card-stack {
  position: relative;
  width: 100%;
  height: 451px;
}

.game-pad {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 10px 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .button {
    box-sizing: border-box;
    margin: 0 20px;
    height: 100px;
    width: 100px;
    border: 8px solid #ccc;
    border-radius: 50px;
    position: relative;
    z-index: -1;

    i {
      font-size: 45px;
      position: absolute;
      top: 42px;
      left: 42px;
      transform: translate(-50%, -50%);

    }

    &#like-button {
      color: $green;
    }

    &#nope-button {
      color: $accent-red;
    }
  }
}

.match-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  z-index: 1000;
  text-align: center;


  /** Slide-in-up effect **/
  &.ng-enter {
    top: 100%;
    transition: top 0.4s ease-out;

    &.ng-enter-active {
      top: 0;
    }
  }

  &.ng-leave {
    top: 0;
    transition: 0.4s ease-out;

    &.ng-leave-active {
      top: 100%;
    }
  }

  .match-title {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
  }

  .match-pic {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 5px solid white;
    border-radius: 100px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  .match-info {
    width: 100%;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    font-size: 1.25em;
  }

  .controls {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .button {
      color: white;
      border: 2px solid white;
      width: 40%;
      height: 50px;
      line-height: 50px;
    }
  }
}

.reset-stack {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  .fa-refresh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    font-size: 3em;
    color: $accent-red;
  }


}

@media(max-height: 500px) {
  .game-pad {
    display: none;
  }
}

@media(max-height: 600px) {
  .game-pad {
    bottom : 0;
    padding-bottom: 5px;
  }
}