$green: #62DC9A;
$accent-red: #F7514B;

@keyframes resetCardRight {
  80% {
    transform: translate3d(20px, 0, 0);
  }
  100% {
    transform: translate3d(0,0,0) rotate(0deg);
  }
}

@keyframes resetCardLeft {
  80% {
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    transform: translate3d(0,0,0) rotate(0deg);
  }
}


.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  box-sizing: border-box;
  background: white;
  z-index: 1;
  transform: translate3d(0,0,0) rotate(0);
  backface-visibility: hidden;
  

  &.reset-card-right {
    animation: resetCardRight .3s ease-out;
  }

  &.reset-card-left {
    animation: resetCardLeft .3s ease-out;
  }

  &.animate-off {
    transition: transform .3s ease-in;
  }

  &.ng-enter-stagger {
    transition-delay: 0.1s;
  }
  &.ng-enter {
    left: -100%;
    transition: all .3s linear;
  }

  &.ng-enter-active {
    left: 0;
  }

  .card-pic {

    img {
      max-width: 100%;
      height: auto;
      overflow: hidden;
      pointer-events: none;
    }

    .like-stamp {
      position: absolute;
      top: 5%;
      left: 5%;
      padding: 5px;
      color: $green;
      font-size: 2.5em;
      font-weight: bold;
      border: 5px solid $green;
      border-radius: 15px;
      transform: rotate(-20deg);
      opacity: 0;

    }

    .nope-stamp {
      position: absolute;
      top: 5%;
      right: 5%;
      padding: 5px;
      color: $accent-red;
      font-size: 2.5em;
      font-weight: bold;
      border: 5px solid $accent-red;
      border-radius: 15px;
      transform: rotate(20deg);
      opacity: 0;
    }
  }

  .card-info {
    padding: 15px;
    background: rgba(255,255,255,1);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .info-left {
      font-size: 1.5em;
    }

    .info-right {
      font-size: 1.5em;
      color: #ccc;

      span {
        padding: 3px;
      }

      .info-highlight {
        color: $accent-red;
      }
    }
  }
}

@media(min-width: 389px) {
  .card {
    left: 50%;
    max-width: 350px;
    margin-left: -175px;
  }
}
